body {
    font-family: 'Montserrat', sans-serif;
}
section {
    padding: 115px 0;

}
.section {
    width: 100%;
    &__title {
        position: relative;
        text-align: center;
        width: 100%;
        font-family: "Montserrat", sans-serif;
        font-size: 36px;
        font-weight: 900;
        text-transform: uppercase;
        color: $blue;
        letter-spacing: 0;
        // margin-top: 100px;
        margin-bottom: 80px
    }    
}
.container {
    margin: 0 auto;
    // margin-top: 100px;
    width: 100%;
    max-width: 1280px;
    padding: 0 15px;
    // padding-bottom: 100px   
    box-sizing: border-box; 
}



.button {
    transition: 0.15s;
    cursor: pointer;
}
button {
    outline: none;
}
input {
    outline: none;
}


 
