body {
    font-family: 'Montserrat', sans-serif;
}
section {
    padding-top: 20px;
}
.section {
    width: 100%;
    &__title {
        position: relative;
        text-align: center;
        width: 100%;
        font-family: "Montserrat", sans-serif;
        font-size: 36px;
        font-weight: 900;
        text-transform: uppercase;
        color: $blue;
        letter-spacing: 0;
        margin-top: 100px;
        margin-bottom: 80px
    }    
}
.container {
    margin: 0 auto;
    margin-top: 100px;
    width: 100%;
    max-width: 1280px;
    padding: 0 15px;
    padding-bottom: 100px    
}
.row {
    padding-bottom: 65px
}

 
