$firstyellow: #FFE400;
$secondyellow: #FEEB3E;
$light: #ffffff;
$dark: #000000;
$blue: #056590;
$lightblue: #E8F1F5;
$secondblue: #0099DE;

$mobile-medium-width: 375px;
$tablet-medium-width: 768px;
$tablet-large-width: 1024px;
$desktop-width: 1440px;
