.consist {
    .room {
        display: flex;
        justify-content: space-around;
        width: 100%;
        max-width: 790px;
        margin: 0 auto;
        margin-bottom: 41px;
        font-size: 24px;
        &__item {
            color: $dark;
            padding: 5px 30px;
        }
        input {
            display: none;
            &:checked+label {
                border-radius: 55px;
                border: 2px solid $firstyellow;
                cursor: pointer;
                transition: .15s;
                font-weight: 700;
            }
        }
    }
    &-slide__text {
        font-size: 24px;
        font-weight: 600;
        line-height: 140%;
        max-width: 451px;
        width: 100%;
        margin: 0 auto;
        li {
            position: relative;
            display: block;
            list-style-type: none;
            
            &::before {
                position: absolute;
                display: block;
                content: '';
                background: url(../image/cheked.svg) no-repeat;
                background-size: contain;
                width: 25px;
                height: 25px;
                color: $dark;
                left: -31px;
                top: 0;
            }
        }
    }
    img {
        max-width: 741px;
        width: 100%;
        border-radius: 18px;
    }
    .slide-card {
        max-width: 1280px;
        width: 100%;
        display: flex;
    }
    
}