.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100px;
  // padding-top: 77px;
  z-index: 100;
  &-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .nav{
    width: 100%;
    max-width: 1003px;
    color: $light;
    &__list {
      display: flex;
      justify-content: space-around;
    }
    &__link {
      font-family: 'Montserrat-SemiBold', sans-serif;
      font-size: 24px;
      text-decoration: none;
      color: inherit;
      // color: $light;
    }
    li {
      list-style-type: none;
      
    }
  }
  .container {
    margin-top: 40px;

  }
  
}
.logo {
  img {
    width: 100%;
    max-width: 129px;
  }
  
}