.hww {
    position: relative;
    display: block;
    padding-top: 20px;
    background: url(../image/hww-bg.jpg) no-repeat;
    background-size: cover;
    min-height: 530px;
    .section__title {
        color: $light;
    }
    .card {
        color: $light;
        display: flex;
        justify-content: space-between;
        margin-top: 90px;
        &-item {
            text-align: center;
            font-weight: 600;
            &__title {
                font-size: 24px;
            }
            &__text {
                max-width: 279px;
                width: 100%;
                font-size: 18px;
            }
        }
    }
}