.modal {
    max-width: 399px;
    width: 100%;
    height: 369px;
    background: $firstyellow;
    border-radius: 18px;
    margin: 0 auto;
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 900;
        color: $blue;
        text-align: center;
        padding-top: 31px;
    }
    &__input {
        max-width: 285px;
        width: 100%;
        height: 46px;
        background: $light;
        color: #BFB6B6;
        border-radius: 18px;
        border: none;
        &:last-of-type {
            margin-top: 15px;
        }
    }
    input {
        padding-left: 15px;
    }
    &__button {
        max-width: 243px;
        width: 100%;
        height: 48px;
        background: $secondblue;
        color: $light;
        border-radius: 18px;
        box-shadow: -6px 4px 11px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        transition: 0.15s;
        border: none;
        margin-top: 35px;
    }
    &__dialog {
        position: relative;
        display: block;
        a { 
            position: absolute;
            display: block;
            width: 18px;
            height: 18px;
            right: 14px;
            top: 14px;
            img {
                width: 18px;
                height: 18px;
            }
        }
    }
}