.regis {
    .container {

    }
    .calc {
        font-weight: 500;
        &__title {
            font-size: 24px;
            font-weight: 700;
            padding: 50px 0 30px;
        }
        &-choice {
            &__row {
                padding-bottom: 20px;
                .button {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    max-width: 240px;
                    width: 100%;
                    height: 46px;
                    border-radius: 18px;
                    border: 3px solid $firstyellow;
                    background: $light;
                    font-size: 18px;
                    font-weight: 500;
                    margin-right: 5px;
                    padding: 0 7px;
                    box-sizing: border-box;
                    cursor: pointer;
                    transition: .15s;
                }
                input {
                    display: none;
                    &:checked+label {
                        background: $firstyellow;
                    }
                }
            }
        }
        &-period {
            &__title {
                padding-top: 20px;
            }
            &__row {
                display: flex;
            }
            &__item {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                height: 40px;
                border-radius: 18px;
                border: 3px solid $firstyellow;
                background: $light;
                text-align: center;
                margin-right: 10px;
                padding: 0 20px;
                .text {
                    font-size: 18px;
                    margin-top: 10px;
                    padding: 0 40px;
                }
            }
            input {
                display: none;
                &:checked+label {
                    background: $firstyellow;
                    transition: 0.15s;
                    cursor: pointer;
                }
            }
            
        }
        &-options {
            &__item {
                max-width: 140px;
                width: 100%;
                height: 207px;
                text-align: center;
                margin: 20px 0;
                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    max-width: 140px;
                    width: 100%;
                    height: 140px;
                    border-radius: 18px;
                    border: 3px solid $firstyellow;
                    background: $light;
                    transition: 0.15s;
                    cursor: pointer;
                    img {
                        width: 90px;
                        height: 90px;
                    }
                }
                .text {
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 140%;
                    margin-top: 10px;
                }
            }
            .wrapper {
                display: flex;
                max-width: 654px;
                width: 100%;
                justify-content: space-between;
                flex-wrap: wrap;
            }
            input[type="checkbox"] {
                display: none;
                &:checked + label .icon {
                    background: $firstyellow;
                    
                }
            }
        }
    }
    .sidebar {
        max-width: 400px;
        width: 100%;
        height: 595px;

    }
    
}