.reviews {
    display: block;
    .row {
        display: flex;
        justify-content: space-between;
        .card {
            border: 3px solid $firstyellow;
            border-radius: 18px;
            box-shadow: -6px 7px 25px rgba(0, 0, 0, 0.25);
            max-width: 320px;
            width: 100%;
            height: 360px;
            
            &-item {
               align-items: center;
               margin: 0 auto;
               width: 100%;
               max-width: 250px;

                &__title {
                    font-weight: bold;
                    margin-top: 35px;
                    font-size: 18px;
                }
                &__text {
                    line-height: 200%;
                    font-size: 14px;
                }
                
            }
        }
    }
}