.types {
    display: block;
    .row {
        display: flex;
        justify-content: space-between;
        .card {
            display: flex;
            justify-content: space-between;
            max-width: 308px;
            width: 100%;
            height: 405px;
            text-align: center;
            border-radius: 18px;
            box-shadow: -6px 7px 25px rgba(0, 0, 0, 0.25);
           &-item {
               padding: 0 20px;
                &__title {
                    font-size: 24px;
                    font-weight: 600;
                    margin-top: 48px;
                }
                &__text {
                    margin-top: 45px;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 207%;
                    min-height: 120px;
                }
                &__info {
                    font-size: 14px;
                    margin-bottom: 10px;
                    a {
                        color: $dark;
                    }
                }
                &__price {
                    font-size: 18px;
                    font-weight: 700;
                    margin-bottom: 15px;
                }
            }
            .button {
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 900;
                width: 172px;
                height: 52px;
                border-radius: 18px;
                background: $firstyellow;
                border: none;
                
            }
        }
    }
}